<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>斗地主</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		  
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"><img src="http://mail.tom.com/webmail-static/images/mail.tom.com/nav_logo.png" alt=""></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">金豆游戏</a></li>
		        <li class="on"><a href="#" style="color: #FFFFFF;">玩乐斗地主</a></li>
	         	<li><a href="#">关于我们</a></li>
	          	<li><a href="#">联系我们</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</header>
	<div class="header-img">
		<img src="img/header.png" alt="">
	</div>
	<main>
		<div class="row">
			<div class="col-md-6">
				<div class="ban">
					  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
						    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
						  </ol>
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						      <img src="img/banner.png" alt="...">
						    </div>
						    <div class="item">
						      <img src="img/banner.png" alt="...">
						    </div>
						     <div class="item">
						      <img src="img/banner.png" alt="...">
						    </div>
						  </div>
						</div>
				</div>
				

				<!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  Indicators
				  <ol class="carousel-indicators">
				    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner" role="listbox">
				    <div class="item active">
				      <img src="img/banner.png" alt="...">
				    </div>
				    <div class="item">
				      <img src="img/banner.png" alt="...">
				    </div>
				     <div class="item">
				      <img src="img/banner.png" alt="...">
				    </div>
				  </div>
				</div> -->
			</div>
			<div class="col-md-6">
				<div class="news">
					<ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active">
					    	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">全部</a>
					    </li>
					    <li role="presentation">
					    	<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">新闻</a>
					    </li>
					    <li role="presentation">
					    	<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">公告</a>
					    </li>
					    <li role="presentation">
					    	<a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">活动</a>
					    </li>
					</ul>
					<div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="home">
					    	<ul>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>

					    	</ul>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="profile">
					    	<ul>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    	</ul>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="messages">
					    	<ul>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    	</ul>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="settings">
					    	<ul>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    	</ul>
					    </div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="jieshao">
					<img src="img/gamer.png" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="other bgce">
					<ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="">
					    	<a href="#home" aria-controls="home" role="tab" data-toggle="tab">全部</a>
					    </li>
					</ul>
					<div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="home">
					    	<ul>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>
					    		<li><a href="title">【新闻】新玩法竞猜游戏大揭秘！你有没有中奖呢？</a><span class="time">06-09</span></li>

						    	</ul>				 
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="other-img">
					<img src="img/pic1.png" alt="">
				</div>
				
			</div>
		</div>
		<div class="clear"></div>
		<div class="row mt20">
			<div class="col-md-6">
				<div class="other-img mt20">
					<img src="img/pic2.png" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="other mt20 pd2">
					<h2><span class="cor">多种模式</span>  欢乐翻倍</h2>
					<p>玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有</p>
				</div>
			</div>
		</div>
		<div class="row mt20">
			<div class="col-md-6">
				<div class="other mt20 pd2">
					<h2><span class="cor">多种模式</span>  欢乐翻倍</h2>
					<p>玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有玩乐斗地主拥有</p>
				</div>
			</div>
			<div class="col-md-6">
				<div class="other-img mt20">
					<img src="img/pic03.png" alt="">
				</div>
			</div>
		</div>
	</main>
	<footer>
		<div class="tom">
		    <ul>
		        <li><a href="http://www.tomgroup.com/chs/">TOM集团</a></li>
		        <li><a href="http://www.tomgroup.com/chs/business/detail/mobile-internet">TOM在线</a></li>
		        <li><a href="">TOM户外</a></li>
		        <li><a href="http://www.ule.com/">邮乐购物</a></li>
		        <li><a href="http://www.tom.com/company/adserver.html">广告服务</a></li>
		        <li><a href="http://www.tomgroup.com/chs/privacy-policy">隐私政策</a></li>
		        <li><a href="http://www.tomgroup.com/chs/about-us/contact-us">联系我们</a></li>
		        <li><a href="http://www.tom.com/company/partner.html">合作伙伴</a></li>
		    </ul>
		    <div style="margin-top:10px;">Copyright © 2015 TOM.COM Corporation,All Rights Reserved 雷霆万钧版权声明</div>
		    <div style="margin-top:10px;">违法和不良信息举报电话：010-85181169　举报邮箱:jubao@tomonline-inc.com</div>
		</div>
	</footer>
</body>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>