<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>布局</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/reset.css"/>
	<link rel="stylesheet" href="css/shouye.css">
</head>
<body>
	<!-- 导航 -->
	<header>
		 <div id="nav-header" class="container-fluid hidden-xs">
	        <ul>
	            <li class="border-right limit-width pull-left">下载APP</li>
	            <li class="pull-left">深圳&emsp;阴&emsp;15°/26°<span class="caret"></span></li>
	            <li class="pull-right">反馈</li>
	            <li class="border-right limit-width pull-right">进入邮箱</li>
	            <li class="pull-right limit-width login-btn">登录</li>
	        </ul>
	    </div>
	    <nav>
	    	<ul>
		        <li class="nav_active"><a href="" style="color: rgb(111, 184, 42);">首页</a></li>
				<li><a href="pingdao.html">娱乐</a></li>
				<li><a href="pingdao.html">时尚</a></li>
				<li><a href="pingdao.html">财经</a></li>
				<li><a href="pingdao.html">搞笑</a></li>
				<li><a href="pingdao.html">科技</a></li>
				<li><a href="pingdao.html">生活</a></li>
				<li><a href="pingdao.html">游戏</a></li>
				<li><a href="pingdao.html">体育</a></li>
				<li><a href="pingdao.html">购物</a></li>
				<li><a href="pingdao.html">杂志</a></li>
		      </ul>
	    </nav>
	</header>

	<div class="content">

		<div class="container">
			<div class="tip">您有未读消息，点击查看</div>
			<div class="row">
				<div class="col-xs-9 col-lg-9" id="scrollTest">
					<div class="row">
					<!-- 内容 -->
						<div class="col-lg-4 col-md-6" id="height1">
							<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span><span class="fr duotu">多图</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
								<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span><span class="fr duotu">多图</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-6" id="height2">
							<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span><span class="fr duotu">多图</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
								<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span><span class="fr duotu">多图</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<div class="clear"></div>
								<h2>娱乐</h2>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<div class="clear"></div>
								<h2>娱乐</h2>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
						</div>
						<div class="col-lg-4 hidden-md hidden-xs" id="height3">
								<div class="box">
								<img src="img/11.png"/>
								<div class="clear"></div>
								<h2>娱乐</h2>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<h2><span class="fl underline">广告</span></h2>
								<div class="clear"></div>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
							</div>
							<div class="box">
								<img src="img/11.png"/>
								<h2>娱乐</h2>
								<p class="title">
									江疏影首遇经济危机 滑板车新技能华丽上线
								</p>
								<p class="article mt15">
									由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
									陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
									成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
									杨旭文等纷纷到场助阵。
								</p>
							</div>
						</div>
						
					
					</div>
				</div>
				<!-- 广告 -->
				<div class="col-xs-3 col-lg-3">
					<div class="ad">
						<div class="login">
							<form action="" method="post">
								<input type="text" id="" value="" placeholder="tom邮箱" class="input" />
								<input type="text" id="" value="" placeholder="密码" class="input bt0"/><br />
								<input type="submit" value="登录" class="input submit" /> 
								<a href="" class="login_a">注册</a><a href="" class="login_a">找回密码</a>
							</form>
						</div>
						<div class="ad_img">
							<img src="img/ad.png" alt="">
						</div>
						<div class="ad_img">
							<img src="img/ad.png" alt="">
						</div>
						<div class="box">
							<img src="img/11.png"/>
							<h2>广告</h2>
							<p class="title fs15">
								江疏影首遇经济危机 滑板车新技能华丽上线
							</p>
							<div class="ad_button">
								<button>了解详情</button>
							</div>
						</div>
						<div class="box">
							<img src="img/11.png"/>
							<h2>广告</h2>
							<p class="title fs15">
								江疏影首遇经济危机 滑板车新技能华丽上线
							</p>
							<div class="ad_button">
								<button>了解详情</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- 下拉加载内容 -->
	<script id="waterfall-template1" type="text/template">
		<div class="box">
			<img src="img/11.png"/>
			<h2><span class="fl underline">广告</span></h2>
			<div class="clear"></div>
			<p class="title">
				江疏影首遇经济危机 滑板车新技能华丽上线
			</p>
			<p class="article mt15">
				由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
				陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
				导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
				导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
				成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
				杨旭文等纷纷到场助阵。
			</p>
		</div>
	</script>
	<script id="waterfall-template2" type="text/template">
		<div class="box">
			<img src="img/11.png"/>
			<h2><span class="fl underline">广告</span></h2>
			<div class="clear"></div>
			<p class="title">
				江疏影首遇经济危机 滑板车新技能华丽上线
			</p>
		</div>
	</script>
	<script id="waterfall-template3" type="text/template">
		<div class="box">
			<img src="img/11.png"/>
			<h2><span class="fl underline">广告</span></h2>
			<div class="clear"></div>
			<p class="title">
				江疏影首遇经济危机 滑板车新技能华丽上线
			</p>
			<p class="article mt15">
				由华谊兄弟传媒出品，桂纶镁、王景春、欧阳娜娜、王元也（威廉）主演，
				陈坤特别出演的奇幻轻喜剧电影《美好的意外》21日在京举行首映礼，
				导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
				导演何蔚庭携众主创悉数现身。现场更是大咖云集，华谊兄弟联合创始人、
				成龙、管虎、程耳、滕华涛、angelababy、冯绍峰、霍思燕、高云翔、
				杨旭文等纷纷到场助阵。
			</p>
		</div>
	</script>
</body>
<script src="js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script>
	$(window).scroll(function(){
        var h = $('#scrollTest').height();//div可视区域的高度
        var sh = $(window).scrollTop()+$(window).height()+300;//滚动的高度，$(this)指代jQuery对象，而$(this)[0]指代的是dom节点
        console.log(h)
        console.log(sh)
        if(sh>=h){
        	ajaxLoading()
        }
      
    })
    function ajaxLoading(){
    	var a = $('#height1').height(),
			b = $('#height2').height(),
			c = $('#height3').height();
			console.log('a'+a)
			console.log('b'+b)
			console.log('c'+c)
			if($(document).width() < 1300){
				if(a<=b){
					$('#height1').append($('#waterfall-template1').html())
				}
				if(b<=a){
					$('#height2').append($('#waterfall-template2').html())
				}
			}else{
				if(a<=b && a<=c){
					$('#height1').append($('#waterfall-template1').html())
				}
				if(b<=a && c<=c){
					$('#height2').append($('#waterfall-template2').html())
				}
				if(c<=a && c<=b){
					$('#height3').append($('#waterfall-template3').html())
				}
			}
		
    }
</script>
</html>