<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOM新闻</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="nav-header" class="container-fluid hidden-xs">
        <ul>
            <li class="border-right limit-width pull-left">下载APP</li>
            <li class="pull-left">深圳&emsp;阴&emsp;15°/26°<span class="caret"></span></li>
            <li class="pull-right">反馈</li>
            <li class="border-right limit-width pull-right">进入邮箱</li>
            <li class="pull-right limit-width login-btn">登录</li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <ul id="nav-sidebar" class="hidden-xs">
                    <li>
                        <img class="img-responsive" src="http://www.tom.com/uldf/2015/0430/wang_zhiyong/tomlogo.png" />
                    </li>
                    <li>首页</li>
                    <li>娱乐</li>
                    <li class="active">财经</li>
                    <li>搞笑</li>
                    <li>科技</li>
                    <li>生活</li>
                    <li>游戏</li>
                    <li>体育</li>
                    <li>视频</li>
                    <li>购物</li>
                    <li>杂志</li>
                </ul>

                <div id="news-content">
                    <img class="img-limit-width" src="http://star.tom.com/uldf/2017/0605/jf_xiong/img-1498922021021.jpg" />
                    <p class="alert-msg-info">您有未读新闻，点击查看</p>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="item-container">
                        <ul>
                            <li class="item-left">
                                <img class="item-img" src="http://ent.tom.com/dimg/2017/0504/img-1496148942964.jpg" />
                            </li>
                            <li class="item-right">
                                <h4>跨越！32件大事带你回顾詹皇这一年</h4>
                                <ul>
                                    <li class="category-btn">娱乐</li>
                                    <li class="publish-time">10分钟前</li>
                                    <li class="pull-right">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 hidden-xs">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="大家都在搜：金星欧洲豪宅曝光">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
                <div class="list-container">
                    <h4>24小时热闻</h4>
                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                </div>

                <div class="ad-container">
                    <img src="http://img3.news18a.com/site/other/201706/ina_14968158562026824164_320.jpg" />
                </div>

                <div class="list-container">
                    <h4>24小时热闻</h4>
                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                </div>

                <div class="ad-container">
                    <img src="http://img3.news18a.com/site/other/201706/ina_14968158562026824164_320.jpg" />
                </div>


                <div class="list-container">
                    <h4>24小时热闻</h4>
                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                </div>

                <div class="ad-container">
                    <img src="http://img3.news18a.com/site/other/201706/ina_14968158562026824164_320.jpg" />
                </div>

                <div class="list-container">
                    <h4>24小时热闻</h4>
                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                    <ul>
                        <li class="item-left">
                            <img class="item-img" src="http://www.tom.com/uldf/2016/0919/wang_zhiyong/hjqg.jpg" />
                        </li>
                        <li class="item-right">
                            朴槿惠被正式司法拘捕 韩司法界：最多获刑45年
                        </li>
                    </ul>

                </div>
               
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function(){
            window.onscroll = function(){
                if(document.body.scrollTop > 50){
                    $('#nav-hader').slideUp();
                    $('#nav-sidebar').addClass('fixed');
                }else{
                    $('#nav-hader').slideDown();
                    $('#nav-sidebar').removeClass('fixed');
                }
            }
        });
    </script>
</body>

</html>